.plan {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/fondo-netflix.jpg');
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .logo {
            .logo-nexflix {
                width: 150px;
                margin-left: 25%;
            }
        }

        .sesion {
            margin: 20px 3% 0 0;
            display: flex;
            gap: 32px;

            select {
                height: 39px;
                width: 95px;
                background-color: transparent;
                border-radius: 4px;
                border: solid 1px #ffffff;
                color: #ffffff;
                font-size: 1rem;
                text-align: center;

                option {
                    background-color: #b9b8b8;
                }
            }

            button {
                height: 35px;
                width: 124px;
                background-color: $red-btn;
                color: #ffffff;
                border: none;
                border-radius: 4px;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        margin-top: 5.9rem;

        .title {
            width: 53%;
            text-align: center;

            h2 {
                font-size: 3.4rem;
            }

            p {
                font-size: 1.7rem;
                margin-top: 10px;

            }
        }

        .cuenta {
            p {
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 20px;
            }

            .correo {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                input {
                    height: 60px;
                    width: 460px;
                    padding-left: 10px;
                    font-size: 1rem;
                }

                button {
                    height: 60px;
                    width: 224px;
                    background-color: $red-btn;
                    color: #ffffff;
                    border: none;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media (max-width: 760px){
    .plan {
        height: 100%;
        
        .header {
    
            .logo {
                .logo-nexflix {
                    width: 120px;
                    margin-left: 10px;
                }
            }
    
            .sesion {
                gap: 22px;
    
                select {
                    height: 35px;
                    width: 90px;
                }
    
                button {
                    height: 35px;
                    width: 110px;
                }
            }
        }
    
        .info {
            margin-top: 5rem;
    
            .title {
                width: 100%;
                text-align: center;
    
                h2 {
                    font-size: 2.1rem;
                }
    
                p {
                    font-size: 1.4rem;
                    margin-top: 10px;
                }
            }
    
            .cuenta {
                padding: 0 1rem;
                p {
                    font-size: 1.1rem;
                    text-align: center;
                }
    
                .correo {
                    flex-direction: column;
                    align-items: center;
                    input {
                        width: 100%;
                    }
    
                    button {
                        margin-top: 15px;
                        margin-bottom: 5rem;
                    }
                }
            }
        }
    }
    
}