.SectionDl{
    @extend .section;

    .img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info{
        color: #ffffff;
        display: flex;
        align-items: center;

        .sub{
            padding-right: 20%;
            h2{
                font-size: 3.125rem;
            }
            p{
                font-size: 1.625rem;
            }
        }
    }
}

@media (max-width: 760px){
    .SectionDl{
    
        .info{
    
            .sub{
                padding-right: 0;
                h2{
                    font-size: 2.5rem;
                    text-align: center;
                }
                p{
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
        }
    }
}