.SectionNinos{
    @extend .section;

    .img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info{
        color: #ffffff;
        display: flex;
        align-items: center;

        .sub{
            padding-right: 20%;
            h2{
                font-size: 3.125rem;
                line-height: 1.1;
            }
            p{
                font-size: 1.625rem;
            }
        }
    }
}

@media (max-width: 760px){
    .SectionNinos{
    
        .info{
    
            .sub{
                text-align: center;
                padding-right: 0;
                h2{
                    font-size: 2.5rem;
                    line-height: 1.1;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
}