.SectionDisf{
    @extend .section;
    .info{
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        .sub{
            text-align: center;
            h2{
                font-size: 3.125rem;
            }
            p{
                font-size: 1.625rem;
            }
        }
    }

    .img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}